<%= turbo_stream_from :convert %>

<h1>New Convert</h1>
<%= form_with(model: @convert) do |form| %>
  <div id="error_explanation"></div>
  <%= form.label :in_file %>
  <%= form.file_field :in_file %>
  <%= form.submit %>
<% end %>

<h1>Converts</h1>
<ul>
  <div id="converts">
    <%= render @converts %>
  </div>
</ul>
